/*Abode CSS — Updated 7/28/2024*/
/*Site Background Color*/
body {
  background-color: var(--body-background) !important;
}
/*Borders*/
html {
  --c-border: 1px solid currentColor;
  --w-border: 1px solid var(--white);
  --l-border: 1px solid var(--light);
  --a-border: 1px solid var(--accent);
  --d-border: 1px solid var(--dark);
  --b-border: 1px solid var(--black);
  --clear: transparent;
  --trans: all 0.3s ease;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
  scroll-padding-top: 10vh!important;
}
/*Full Bleed Image Sections*/
@media screen and (max-width: 767px) {
  section[data-current-styles*='"backgroundMode": "image"'].has-background {
    min-height: unset!important;
    aspect-ratio: 16 / 12 !important;
  }
}
/*MEGA*/
h1 strong,
h2 strong,
h3 strong,
h4 strong {
  font-weight: 400!important;
  line-height: 1.2 !important;
  font-size: 2em!important;
  letter-spacing: -0.028em !important;
}
@media screen and (max-width: 767px) {
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong {
    font-size: 1.8em !important;
  }
}
/*Small P Bold (Border)*/
.sqsrte-small strong {
  font-weight: 400!important;
  letter-spacing: 0.01em;
  padding: 6px 10px;
  border: var(--l-border);
  background: var(--light);
  border-radius: 100vw;
}
/*Small Paragraph Bold LIGHT*/
.light .sqsrte-small strong,
.light-bold .sqsrte-small strong,
.bright-inverse .sqsrte-small strong {
  background: var(--white);
}
/*Small Paragraph Bold LIGHT*/
.black .sqsrte-small strong,
.black-bold .sqsrte-small strong,
.dark .sqsrte-small strong,
.dark-bold .sqsrte-small strong {
  background: var(--clear);
}
/*Small P Italic (Small Uppercase)*/
.sqsrte-small em {
  font-size: 0.85em;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  font-style: normal;
}
/*Large Paragraph Bold*/
.sqsrte-large strong {
  font-size: 24px!important;
  font-weight: 400!important;
  line-height: 1.4em;
}
@media screen and (max-width: 767px) {
  .sqsrte-large strong {
    font-size: 19px!important;
  }
}
/*H3*/
h3 {
  margin-bottom: 15px!important;
}
/*H4 Bold*/
h4 strong {
  line-height: 1.45 !important;
}
/*Add Underline on Hover*/
p a:hover {
  text-decoration: underline!important;
  text-decoration-thickness: 1px!important;
  text-underline-offset: 4px!important;
}
/*Remove Default Link Underline*/
.sqs-block-html a,
.image-title-wrapper a,
.image-subtitle-wrapper a,
.sqs-image-caption a,
.image-caption a,
.sqs-block-newsletter a,
.list-item-content__description a,
.list-section-title a,
.header .header-nav-wrapper a {
  text-decoration-line: none!important;
}
/*Add Arrow on Hover to Em Links*/
p a em {
  line-height: 1.8 !important;
  position: relative;
  font-style: normal;
  font-weight: 500!important;
}
h3 a em {
  font-style: normal!important;
}
@media screen and (min-width: 767px) {
  p a em:after,
  h3 a em:after {
    font-family: "inter" !important;
    content: "→";
    font-weight: 400!important;
    position: absolute;
    opacity: 0;
    transition: var(--trans);
    font-weight: 500;
  }
  p a em:hover:after,
  h3 a em:hover:after {
    opacity: 1;
    margin-right: 30px;
    padding-left: 4px;
  }
}
/*Link BOLD (Visible Arrow)*/
p a strong {
  line-height: 1.5 !important;
  position: relative;
  font-style: normal;
  font-weight: 400!important;
}
h3 a strong {
  font-style: normal!important;
}
@media screen and (min-width: 767px) {
  p a strong:after,
  h3 a strong:after {
    font-family: "inter" !important;
    content: "→";
    padding-left: 2px;
    position: absolute;
    font-weight: 400!important;
    transition: var(--trans);
  }
  p a strong:hover:after,
  h3 a strong:hover:after {
    padding-left: 6px;
  }
}
/*Remove underline from active*/
.header-nav-item--active a,
body:not(.header--menu-open) .header-nav-folder-item--active .header-nav-folder-item-content,
.header-menu-nav-item--active,
:is([aria-current="page"], [aria-current="true"]) .header-menu-nav-item-content {
  background-image: none!important;
  text-decoration: none!important;
  background: none!important;
}
.header-nav-item--active a:after {
  display: none!important;
}
/*Add underline to nav hover*/
.header-nav-item--collection:hover {
  text-decoration: underline!important;
  text-underline-offset: 3px;
}
/*Folder Title*/
.header-nav-folder-title {
  position: relative!important;
  padding-right: 14px!important;
}
/*Folder Title Chevron*/
.header-nav-folder-title:after {
  font-family: var(--inter), var(--body), sans-serif !important;
  z-index: -1 !important;
  position: absolute!important;
  right: 0!important;
  content: "⌵" !important;
  transform: rotateZ(0deg);
  line-height: 0.7 !important;
  font-weight: 500!important;
  transition: var(--trans) !important;
}
/*Flip Chevron When Open*/
.header-nav-item--folder:hover .header-nav-folder-title:after {
  transform: rotateZ(180deg);
  margin-top: 6px;
  transition: var(--trans) !important;
}
/*Folder*/
.header .header-nav .header-nav-item--folder .header-nav-folder-content {
  margin-left: 13px;
  border-radius: 6px;
  background: var(--white);
  padding: 0px;
  min-width: unset;
  overflow: hidden!important;
  transition: var(--trans) !important;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
}
/*Folder Transitions*/
.header-nav-folder-content:hover,
.header-nav-folder-item,
.header-nav-item--folder:hover {
  text-decoration: none!important;
  transition: var(--trans) !important;
}
/*Folder Item Link*/
.header-nav .header-nav-item--folder .header-nav-folder-content .header-nav-folder-item a {
  display: flex;
  padding: 8px 12px!important;
  align-items: center!important;
  justify-content: flex-start;
  border-radius: 0px;
  color: var(--black) !important;
  transition: var(--trans);
  border: 1px solid transparent;
}
/*Folder Item Link*/
.header-nav .header-nav-item--folder .header-nav-folder-content .header-nav-folder-item a:hover {
  color: var(--dark) !important;
  background: var(--light) !important;
  border: var(--l-border) !important;
  transition: var(--trans) !important;
  text-decoration-line: none;
}
/*Remove Flex Underline*/
.tweak-global-animations-animation-type-flex .header-nav-folder-item a::after {
  height: 0!important;
}
/*Mobile Nav Menu Item*/
.header-menu-nav-item a {
  font-family: var(--heading);
  font-weight: 400;
  font-size: 32px!important;
  letter-spacing: -0.02em;
}
/*Heading Button*/
.header-actions-action--cta .sqs-button-element--primary {
  padding: 8px 14px!important;
}
/*Core Button Structure*/
.sqs-block-button-element--small,
.sqs-block-button-element--medium,
.sqs-block-button-element--large,
.header-actions .btn,
.header-menu-cta a,
button[type="submit"],
.join-button,
.course-item__next-lesson-button {
  user-select: none!important;
  overflow: hidden!important;
  font-weight: var(--button-weight) !important;
  font-family: var(--body), var(--inter) sans-serif !important;
  font-feature-settings: var(--inter-features);
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  white-space: nowrap!important;
  transition: var(--trans) !important;
}
/*Primary Button Border*/
.sqs-button-element--primary {
  border: var(--a-border) !important;
}
.sqs-button-element--primary:hover {
  border: var(--b-border) !important;
}
/*Button Arrows*/
.sqs-block-button-element--small:after,
.sqs-block-button-element--medium:after,
.sqs-block-button-element--large:after,
.header-actions .btn:after,
.header-menu .header-menu-cta a:after,
.newsletter-form .newsletter-form-button:after,
button[type="submit"]:after,
.join-button:after,
.course-item__next-lesson-button:after {
  display: flex!important;
  content: "→";
  font-family: var(--inter), var(--body), sans-serif !important;
  font-feature-settings: var(--inter-features);
  font-weight: var(--button-weight) !important;
  line-height: 0!important;
  margin-left: 4px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
/*Buttons Arrow Rotate on Hover*/
.sqs-block-button-container--left:hover .sqs-block-button-element--small:after,
.sqs-block-button-container--right:hover .sqs-block-button-element--small:after,
.sqs-block-button-container--center:hover .sqs-block-button-element--small:after,
.header-actions-action--cta:hover .sqs-block-button-element--small:after,
.newsletter-form-button-wrapper:hover .sqs-block-button-element--small:after,
.form-button-wrapper:hover .sqs-block-button-element--small:after,
.productDetails:hover .sqs-block-button-element--small:after,
.sqs-block-button-container--left:hover .sqs-block-button-element--medium:after,
.sqs-block-button-container--right:hover .sqs-block-button-element--medium:after,
.sqs-block-button-container--center:hover .sqs-block-button-element--medium:after,
.header-actions-action--cta:hover .sqs-block-button-element--medium:after,
.newsletter-form-button-wrapper:hover .sqs-block-button-element--medium:after,
.form-button-wrapper:hover .sqs-block-button-element--medium:after,
.productDetails:hover .sqs-block-button-element--medium:after,
.sqs-block-button-container--left:hover .sqs-block-button-element--large:after,
.sqs-block-button-container--right:hover .sqs-block-button-element--large:after,
.sqs-block-button-container--center:hover .sqs-block-button-element--large:after,
.header-actions-action--cta:hover .sqs-block-button-element--large:after,
.newsletter-form-button-wrapper:hover .sqs-block-button-element--large:after,
.form-button-wrapper:hover .sqs-block-button-element--large:after,
.productDetails:hover .sqs-block-button-element--large:after,
.sqs-block-button-container--left:hover .btn:after,
.sqs-block-button-container--right:hover .btn:after,
.sqs-block-button-container--center:hover .btn:after,
.header-actions-action--cta:hover .btn:after,
.newsletter-form-button-wrapper:hover .btn:after,
.form-button-wrapper:hover .btn:after,
.productDetails:hover .btn:after,
.sqs-block-button-container--left:hover .newsletter-form-button:after,
.sqs-block-button-container--right:hover .newsletter-form-button:after,
.sqs-block-button-container--center:hover .newsletter-form-button:after,
.header-actions-action--cta:hover .newsletter-form-button:after,
.newsletter-form-button-wrapper:hover .newsletter-form-button:after,
.form-button-wrapper:hover .newsletter-form-button:after,
.productDetails:hover .newsletter-form-button:after,
.sqs-block-button-container--left:hover button[type="submit"]:after,
.sqs-block-button-container--right:hover button[type="submit"]:after,
.sqs-block-button-container--center:hover button[type="submit"]:after,
.header-actions-action--cta:hover button[type="submit"]:after,
.newsletter-form-button-wrapper:hover button[type="submit"]:after,
.form-button-wrapper:hover button[type="submit"]:after,
.productDetails:hover button[type="submit"]:after,
.sqs-block-button-container--left:hover .join-button:after,
.sqs-block-button-container--right:hover .join-button:after,
.sqs-block-button-container--center:hover .join-button:after,
.header-actions-action--cta:hover .join-button:after,
.newsletter-form-button-wrapper:hover .join-button:after,
.form-button-wrapper:hover .join-button:after,
.productDetails:hover .join-button:after {
  transform: rotate(180deg) !important;
  transition: transform 0.3s ease;
}
/*Header Buttons*/
.header-actions .btn,
.header-menu .header-menu-cta a {
  align-items: center;
  justify-content: center;
}
/*Left, Right, Center Wraps*/
.sqs-block-button-container--left,
.sqs-block-button-container--center,
.sqs-block-button-container--right,
.header-actions-action--cta,
.newsletter-form-button-wrapper a {
  border-radius: var(--button-radius) !important;
}
/*Left Button*/
.sqs-block-button-container--left {
  width: fit-content !important;
  margin-right: auto!important;
}
/*Center Button*/
.sqs-block-button-container--center {
  width: fit-content !important;
  margin: 0 auto!important;
}
/*Right Button*/
.sqs-block-button-container--right {
  width: fit-content !important;
  margin-left: auto!important;
}
/*Secondary Main*/
.sqs-button-element--secondary {
  background: transparent!important;
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
}
/*Accordion Title*/
.accordion-item__title {
  letter-spacing: -0.025em !important;
  font-weight: 500;
}
/*Accordion Description*/
.accordion-item__description {
  max-width: unset!important;
}
/*Logo Gallery Centering*/
.sqs-gallery-block-grid .slide .margin-wrapper .image-slide-anchor {
  display: flex!important;
  align-items: center;
  justify-content: center!important;
  height: unset!important;
  padding-bottom: 0px!important;
}
/*Logo Gallery Max Size*/
.sqs-gallery-block-grid .thumb-image.loaded {
  transform: scale(0.7) !important;
  top: unset!important;
}
/*Logo Gallery Add Margin*/
.sqs-gallery-block-grid .slide .margin-wrapper {
  margin-top: 20px;
}
.sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
  margin-bottom: 20px!important;
}
/*Only applies to "Narrow"*/
.tweak-blog-item-width-narrow {
  /*Remove Default Padding*/
  /*Blog Post Max Width*/
  /*Blog H1*/
  /*Blog H2*/
  /*Blog H3*/
  /*Blog Post Top*/
  /*Make Content Blog Width*/
  /*Blog Title Wrap*/
  /*Category Meta*/
  /*Remove link from author item*/
  /*Author Name*/
  /*Blog Date*/
  /*Remove Author Bio + Website*/
  /*Blockquote*/
  /*Blockquote quote source*/
  /*Blog List Items*/
  /*Remove Bottom Tags*/
  /*Share Banner Container*/
  /*Author Details Wrap*/
  /*Remove Margin from Details*/
  /*Remove Author Website and Bio*/
  /*Position Author Block*/
  /*Social Share Buttons Wrapper*/
  /*Individual Button Container*/
  /*Remove First Button Left Padding*/
  /*Remove Last Button Left Right*/
  /*Main Button Styling*/
  /*Main Button Styling HOVER*/
  /*Social Links*/
  /*Button Link*/
  /*Link Button Styling*/
}
.tweak-blog-item-width-narrow article {
  padding: 0!important;
}
.tweak-blog-item-width-narrow .blog-item-wrapper .blog-item-inner-wrapper {
  margin-top: var(--blog-top) !important;
}
@media screen and (min-width: 767px) {
  .tweak-blog-item-width-narrow .blog-item-wrapper .blog-item-inner-wrapper {
    max-width: var(--blog-width) !important;
    width: var(--blog-width) !important;
  }
}
.tweak-blog-item-width-narrow .blog-item-content h1 {
  padding-bottom: 30px;
  font-size: 45px!important;
}
.tweak-blog-item-width-narrow .blog-item-content h2 {
  margin-top: 3rem!important;
  margin-bottom: 1.5rem;
  font-size: 26px!important;
  letter-spacing: -0.015em !important;
}
.tweak-blog-item-width-narrow .blog-item-content h3 {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
  letter-spacing: 0em!important;
}
@media screen and (min-width: 767px) {
  .tweak-blog-item-width-narrow .blog-item-wrapper .blog-item-inner-wrapper {
    margin-top: var(--blog-top);
  }
}
.tweak-blog-item-width-narrow .blog-item-content-wrapper h2,
.tweak-blog-item-width-narrow .blog-item-content-wrapper h3,
.tweak-blog-item-width-narrow .blog-item-content-wrapper h4,
.tweak-blog-item-width-narrow .blog-item-content-wrapper p,
.tweak-blog-item-width-narrow .blog-item-content-wrapper li,
.tweak-blog-item-width-narrow .blog-item-content-wrapper ul,
.tweak-blog-item-width-narrow blockquote,
.tweak-blog-item-width-narrow .blog-item-content-wrapper .sqs-block-horizontalrule {
  max-width: var(--blog-width) !important;
  margin-left: auto!important;
  margin-right: auto!important;
}
.tweak-blog-item-width-narrow .blog-item-wrapper .blog-item-top-wrapper {
  max-width: var(--blog-width);
  margin-left: auto;
  margin-right: auto;
}
.tweak-blog-item-width-narrow .blog-meta-item a {
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  border-radius: 50px!important;
  background: var(--dark);
  color: var(--white) !important;
  border: none;
  padding: 7px 9px!important;
  text-transform: uppercase!important;
  letter-spacing: 0.07em !important;
  font-size: 10px!important;
  font-weight: 700!important;
  transition: var(--trans);
  pointer-events: none;
}
.tweak-blog-item-width-narrow .blog-item-author-profile-wrapper a {
  pointer-events: none!important;
  cursor: default!important;
}
.tweak-blog-item-width-narrow .blog-item-wrapper .author-name {
  font-family: var(--heading), serif !important;
  font-weight: var(--heading-weight) !important;
  letter-spacing: 0em;
  font-size: 16px!important;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  justify-content: center;
}
.tweak-blog-item-width-narrow time.blog-meta-item--date span {
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  font-size: 14px!important;
  color: var(--accent);
}
.tweak-blog-item-width-narrow .blog-item-wrapper .author-bio,
.tweak-blog-item-width-narrow .author-avatar .content-fill,
.tweak-blog-item-width-narrow .blog-item-wrapper .author-website {
  display: none;
}
.tweak-blog-item-width-narrow blockquote {
  border: unset!important;
  margin: 3rem 0;
  padding: 25px 40px;
  overflow: hidden!important;
  border-radius: 6px!important;
  background: var(--light-bold);
}
@media screen and (max-width: 767px) {
  .tweak-blog-item-width-narrow blockquote {
    padding: 15px 20px;
  }
}
.tweak-blog-item-width-narrow blockquote .sqsrte-small {
  border-radius: 4px!important;
  width: fit-content;
  background: var(--accent);
  color: var(--white) !important;
  padding: 4px 10px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 10px;
  font-weight: 700;
  margin-left: unset!important;
  margin-right: unset!important;
}
.tweak-blog-item-width-narrow .blog-item-content-wrapper li {
  margin: 0.75rem 0rem;
}
.tweak-blog-item-width-narrow .blog-item-content-wrapper ol {
  padding-left: 3.5rem !important;
  padding-top: 5px!important;
}
@media screen and (max-width: 767px) {
  .tweak-blog-item-width-narrow .blog-item-content-wrapper ol {
    padding-left: 2.5rem !important;
  }
}
.tweak-blog-item-width-narrow .blog-item-wrapper .blog-meta-item--tags {
  display: none;
}
.tweak-blog-item-width-narrow .share-container {
  max-width: var(--blog-width);
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0px;
}
.tweak-blog-item-width-narrow .blog-item-author-profile-wrapper a {
  display: flex!important;
  gap: 15px;
  align-items: center!important;
}
.tweak-blog-item-width-narrow .blog-item-author-profile-wrapper {
  margin: 0!important;
}
.tweak-blog-item-width-narrow a.author-website,
.tweak-blog-item-width-narrow .author-bio {
  display: none!important;
}
.tweak-blog-item-width-narrow .blog-item-wrapper .author-avatar,
.tweak-blog-item-width-narrow .blog-item-wrapper .author-name,
.tweak-blog-item-width-narrow .blog-item-wrapper .author-bio,
.tweak-blog-item-width-narrow .blog-item-wrapper .author-website {
  margin-top: 0.3rem !important;
}
.tweak-blog-item-width-narrow .share-wrapper {
  margin-right: 0rem;
  display: flex;
  padding: 25px 0px;
}
@media screen and (max-width: 767px) {
  .tweak-blog-item-width-narrow .share-wrapper {
    margin-right: 0rem;
  }
}
.tweak-blog-item-width-narrow .button-container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.tweak-blog-item-width-narrow .button-container:first-child {
  padding-left: 0px!important;
}
.tweak-blog-item-width-narrow .button-container:last-child {
  padding-right: 0px!important;
}
.tweak-blog-item-width-narrow .social-icon {
  fill: var(--black);
  opacity: 1;
  height: 18px;
  transition: all 0.2s ease;
}
.tweak-blog-item-width-narrow .social-icon:hover {
  opacity: 1;
  transition: all 0.2s ease;
}
.tweak-blog-item-width-narrow .facebook:hover {
  fill: var(--accent);
}
.tweak-blog-item-width-narrow .linkedin:hover {
  fill: var(--accent);
}
.tweak-blog-item-width-narrow .twitter:hover {
  fill: var(--accent);
}
.tweak-blog-item-width-narrow .copy:hover {
  fill: var(--accent);
}
.tweak-blog-item-width-narrow .social-link {
  display: flex;
  align-items: center;
}
.tweak-blog-item-width-narrow .btnClipboardJS {
  border: none!important;
  background: none!important;
  padding: 0px!important;
  transition: all 0.2s ease !important;
}
/*Summary Block*/
.summary-block-setting-design-list {
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  max-width: var(--blog-width) !important;
  margin-left: auto!important;
  margin-right: auto!important;
  /*Remove Block Padding*/
  /*List Summary Small*/
}
.summary-block-setting-design-list .summary-item {
  padding-bottom: 0!important;
  margin-bottom: 0!important;
  margin-top: -20px !important;
}
.summary-block-setting-design-list .sqs-gallery-design-list {
  /*Summary Item - Remove Margin*/
  /*Summary Title*/
  /*Summary Title Link*/
  /*Summary Title Arrow*/
  /*Summary Meta Container*/
  /*Remove Meta Below Title*/
  /*Summary Meta*/
  /*Summary Item Categories*/
  /*Meta Tags*/
  /*Hide Meta Divider*/
  /*Summary Meta NO CLICK*/
  /*Summary Text*/
  /*Summary Container HOVER*/
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-item,
.summary-block-setting-design-list .sqs-gallery-design-list .summary-title {
  padding-bottom: 0!important;
  margin-bottom: 0!important;
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-title {
  width: 100%!important;
  text-align: left!important;
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-title a {
  width: 100%!important;
  display: flex;
  font-family: var(--heading), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  font-size: 1rem;
  align-items: center;
  margin-bottom: 0;
  min-height: 35px;
  padding: 20px 0px;
  transition: var(--trans);
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-title a:before {
  position: absolute;
  opacity: 0;
  margin-left: -10px;
  font-family: var(--inter), var(--body), sans-serif !important;
  line-height: 0;
  font-weight: 400;
  content: "→";
  transition: var(--trans);
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-container--below-title {
  min-width: 25%!important;
  max-width: 25%!important;
  display: block!important;
  padding: 12px 0;
  cursor: pointer;
  text-align: right!important;
  line-height: 0.5 !important;
  margin-bottom: 0px!important;
}
@media screen and (max-width: 767px) {
  .summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-container--below-title {
    width: 35%!important;
  }
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-container--above-title {
  display: none!important;
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-item {
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-item--cats,
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-item.summary-metadata-item--date {
  font-family: var(--inter), var(--body), sans-serif !important;
  font-weight: 700!important;
  border-radius: 4px!important;
  background: var(--light);
  color: var(--black);
  border: none;
  padding: 5px 7px;
  text-transform: uppercase!important;
  font-style: normal;
  letter-spacing: 0.07em !important;
  font-size: 8px!important;
  transition: var(--trans);
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-item--tags {
  color: var(--dark) !important;
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-item:after {
  display: none!important;
}
.summary-block-setting-design-list .sqs-gallery-design-list .summary-metadata-item a,
.summary-block-setting-design-list .sqs-gallery-design-list a.blog-item-category,
.summary-block-setting-design-list .sqs-gallery-design-list .blog-author-name {
  pointer-events: none!important;
  cursor: default!important;
}
.summary-block-setting-design-list .sqs-gallery-design-list .sqs-gallery-meta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--l-border);
  transition: var(--trans);
}
@media screen and (min-width: 767px) {
  .summary-block-setting-design-list .sqs-gallery-design-list .sqs-gallery-meta-container:hover {
    /*Title*/
    /*Arrow*/
  }
  .summary-block-setting-design-list .sqs-gallery-design-list .sqs-gallery-meta-container:hover .summary-title a {
    padding-left: 17px;
    transition: var(--trans);
  }
  .summary-block-setting-design-list .sqs-gallery-design-list .sqs-gallery-meta-container:hover .summary-title a:before {
    opacity: 1!important;
    margin-left: -18px;
    transition: opacity 0.3s ease;
  }
  .summary-block-setting-design-list .sqs-gallery-design-list .sqs-gallery-meta-container:hover .summary-metadata-item--cats,
  .summary-block-setting-design-list .sqs-gallery-design-list .sqs-gallery-meta-container:hover .summary-metadata-item.summary-metadata-item--date {
    color: var(--light);
    background: var(--dark);
    transition: var(--trans);
  }
}
/*Categories Background on Light*/
[data-section-theme="light"] .summary-block-setting-design-list .summary-metadata-item--cats,
[data-section-theme="light"] .summary-block-setting-design-list .summary-metadata-item.summary-metadata-item--date {
  background: var(--white) !important;
}
[data-section-theme="light"] .sqs-gallery-meta-container:hover .summary-metadata-item--cats,
[data-section-theme="light"] .sqs-gallery-meta-container:hover .summary-metadata-item.summary-metadata-item--date {
  color: var(--white) !important;
  background: var(--accent) !important;
  transition: var(--trans);
}
@media screen and (max-width: 767px) {
  .user-items-list-simple[data-layout-width="inset"] {
    padding: 0 var(--sqs-mobile-site-gutter) !important;
  }
}
section.content-width--medium,
.sqs-block-summary-v2.sqs-background-enabled {
  /*Testimonial Main*/
  /*Arrows*/
}
section.content-width--medium .summary-block-wrapper.sqs-gallery-design-carousel,
.sqs-block-summary-v2.sqs-background-enabled .summary-block-wrapper.sqs-gallery-design-carousel {
  /*Remove Carousel Header*/
  /*Testimonial Arrows*/
  /*Testimonial Excerpt*/
  /*Main Testimonial Text*/
  /*Testimonial Source Text*/
}
section.content-width--medium .summary-block-wrapper.sqs-gallery-design-carousel .summary-heading,
.sqs-block-summary-v2.sqs-background-enabled .summary-block-wrapper.sqs-gallery-design-carousel .summary-heading {
  display: none!important;
}
section.content-width--medium .summary-block-wrapper.sqs-gallery-design-carousel .summary-carousel-pager,
.sqs-block-summary-v2.sqs-background-enabled .summary-block-wrapper.sqs-gallery-design-carousel .summary-carousel-pager {
  display: flex;
  align-items: center!important;
  justify-content: flex-start;
  float: unset!important;
  padding-bottom: 15px;
}
section.content-width--medium .summary-block-wrapper.sqs-gallery-design-carousel .summary-excerpt,
.sqs-block-summary-v2.sqs-background-enabled .summary-block-wrapper.sqs-gallery-design-carousel .summary-excerpt {
  margin-bottom: 0px!important;
}
section.content-width--medium .summary-block-wrapper.sqs-gallery-design-carousel .summary-excerpt p:first-of-type,
.sqs-block-summary-v2.sqs-background-enabled .summary-block-wrapper.sqs-gallery-design-carousel .summary-excerpt p:first-of-type {
  font-family: var(--heading) !important;
  font-weight: 400;
  letter-spacing: -0.025em;
  font-size: 25px!important;
  line-height: 1.55em;
}
section.content-width--medium .summary-block-wrapper.sqs-gallery-design-carousel .summary-excerpt p:last-of-type,
.sqs-block-summary-v2.sqs-background-enabled .summary-block-wrapper.sqs-gallery-design-carousel .summary-excerpt p:last-of-type {
  padding-top: 10px;
  font-size: 13px!important;
  font-weight: 500;
  opacity: 0.5 !important;
}
section.content-width--medium .next,
.sqs-block-summary-v2.sqs-background-enabled .next,
section.content-width--medium .previous,
.sqs-block-summary-v2.sqs-background-enabled .previous {
  background: var(--light) !important;
  padding: 10px!important;
  opacity: 1;
  border-radius: 50px;
  transform: scale(0.85);
  margin: 0px!important;
}
section.content-width--medium .summary-carousel-pager,
.sqs-block-summary-v2.sqs-background-enabled .summary-carousel-pager {
  width: unset!important;
}
/*Portfolio Image Captions*/
.gallery-caption p b {
  font-weight: 600!important;
  color: var(--dark) !important;
}
.gallery-caption p {
  color: var(--accent);
}
/*Portfolio Image Radius*/
.grid-image {
  border-radius: var(--global-radius) !important;
}
/*Masonry Gallery One Column Mobile*/
@media screen and (max-width: 767px) {
  figure.gallery-masonry-item {
    width: 100% !important;
    float: left !important;
    transform: unset !important;
    position: initial !important;
  }
  figure.gallery-masonry-item img {
    width: 100% !important;
    margin: 1.5vh 0vh;
  }
  .gallery-masonry-item-wrapper {
    height: auto !important;
  }
}
.item-pagination[data-collection-type^="blog"],
.item-pagination[data-collection-type^="portfolio"],
.item-pagination[data-collection-type^="event"] {
  display: none!important;
}
/*REMOVE Standard Arrow Container*/
.item-pagination-link .item-pagination-icon,
.item-pagination-link .item-pagination-icon svg {
  display: none!important;
}
/*LIGHT SECTIONS*/
.white .sqs-block-newsletter .newsletter-form-field-element,
.white-bold .sqs-block-newsletter .newsletter-form-field-element,
.light .sqs-block-newsletter .newsletter-form-field-element,
.light-bold .sqs-block-newsletter .newsletter-form-field-element,
.bright-inverse .sqs-block-newsletter .newsletter-form-field-element {
  border: var(--d-border) !important;
}
.white .newsletter-block .field-element::placeholder,
.white-bold .newsletter-block .field-element::placeholder,
.light .newsletter-block .field-element::placeholder,
.light-bold .newsletter-block .field-element::placeholder,
.bright-inverse .newsletter-block .field-element::placeholder {
  color: var(--dark);
}
/*DARK SECTIONS*/
.bright .sqs-block-newsletter .newsletter-form-field-element,
.dark .sqs-block-newsletter .newsletter-form-field-element,
.dark-bold .sqs-block-newsletter .newsletter-form-field-element,
.black .sqs-block-newsletter .newsletter-form-field-element,
.black-bold .sqs-block-newsletter .newsletter-form-field-element {
  border: var(--l-border) !important;
}
.bright .newsletter-block .field-element::placeholder,
.dark .newsletter-block .field-element::placeholder,
.dark-bold .newsletter-block .field-element::placeholder,
.black .newsletter-block .field-element::placeholder,
.black-bold .newsletter-block .field-element::placeholder {
  color: var(--light);
}
/*Remove Newsletter Header*/
.newsletter-block .newsletter-form-wrapper--alignLeft .newsletter-form-header,
.newsletter-block .newsletter-form-wrapper--alignRight .newsletter-form-header,
.newsletter-block .newsletter-form-header {
  display: none;
}
/*Newsletter - Remove Margin*/
.newsletter-block .newsletter-form-wrapper--alignLeft .newsletter-form-button-wrapper,
.newsletter-block .newsletter-form-fields-wrapper,
.newsletter-block .newsletter-form-button-wrapper {
  margin: 0!important;
}
/*Newsletter Footnote*/
.sqs-block-newsletter .newsletter-form-footnote {
  display: none!important;
}
/*Newsletter Placeholder Text*/
.newsletter-block .field-element::placeholder {
  font-family: var(--heading);
  letter-spacing: 0em;
  font-weight: 500;
}
/*Remove Newsletter Focus Outline*/
.newsletter-block .field-element:focus,
body:not(.button-style-default) .bright-inverse .newsletter-form-button:focus {
  outline: none;
}
/*Change Focus Background Color*/
.newsletter-block .newsletter-form-field-element:focus {
  background: var(--light);
}
/*Newsletter Field Styles*/
.sqs-block-newsletter .newsletter-form-field-element {
  width: unset!important;
  font-family: var(--heading);
  padding: 14px 20px!important;
  font-size: 14px!important;
  background: var(--clear);
  border-radius: 0px!important;
}
/*Newsletter Field Wrapper*/
.newsletter-block .newsletter-form-field-wrapper {
  min-width: unset!important;
}
/*Remove Padding Buttom Wrap*/
.newsletter-form-wrapper--alignLeft .newsletter-form-button-wrapper,
.newsletter-form-button-wrapper {
  padding: 0px!important;
  border-radius: 0px!important;
}
/*Newsletter Button*/
.newsletter-block .newsletter-form-button {
  display: flex!important;
  align-items: center!important;
  font-family: var(--heading) !important;
  padding: 15px 25px!important;
  color: var(--light) !important;
  transition: var(--trans) !important;
}
/*Newsletter Button HOVER*/
.newsletter-form .newsletter-form-button:hover {
  background: var(--light) !important;
  color: var(--dark) !important;
  transition: var(--trans);
}
/*Mobile Newsletter*/
@media (max-width: 767px) {
  .newsletter-block .newsletter-form-body {
    display: flex;
    flex-direction: column;
    align-items: left!important;
  }
  .newsletter-form-field-element {
    width: 100%!important;
    text-align: center!important;
  }
  .newsletter-form-button-wrapper {
    padding-top: 7px!important;
  }
  .newsletter-block .newsletter-form-button {
    padding: 15px 58px!important;
  }
}
@media screen and (max-width: 767px) {
  .sqs-block-form.sqs-background-enabled {
    padding: 50px var(--sqs-mobile-site-gutter) !important;
  }
}
/*Field Title*/
.sqs-block-form .field-list .title {
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  position: relative!important;
  width: fit-content !important;
}
/*Field Text / Focus Adjustment*/
.sqs-block-form input,
.sqs-block-form select,
.sqs-block-form textarea,
.sqs-block-form radio,
.sqs-block-form checkbox,
.sqs-block-form .caption-text {
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  transition: var(--trans) !important;
  outline-offset: 3px!important;
  outline: 1px solid transparent;
}
.sqs-block-form input:focus,
.sqs-block-form select:focus,
.sqs-block-form textarea:focus,
.sqs-block-form radio:focus,
.sqs-block-form checkbox:focus,
.sqs-block-form .caption-text:focus {
  outline: 1px solid var(--accent);
}
/*Replace "reqired" with "*" */
.form-wrapper .field-list .description.required {
  visibility: hidden;
  font-family: var(--inter), var(--body), sans-serif !important;
  font-feature-settings: var(--inter-features);
  font-size: 0!important;
}
.form-wrapper .field-list .description.required:after {
  visibility: visible;
  position: absolute;
  top: 10px;
  right: 0;
  content: '*' !important;
  font-weight: 600!important;
  font-size: 12px;
}
/*Description in corner*/
@media screen and (min-width: 767px) {
  .list-item-content__description {
    font-feature-settings: var(--inter-features) !important;
    font-family: var(--inter), var(--body), sans-serif !important;
    font-weight: 500;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .list-item-content__description p {
    margin: 0;
  }
}
.list-item-content__description {
  font-feature-settings: var(--inter-features) !important;
  font-family: var(--inter), var(--body), sans-serif !important;
}
/*Add Image Overlay*/
.slide.list-item img {
  filter: brightness(0.7) !important;
}
/*Slideshow Wrap*/
.slideshow-holder {
  border-radius: var(--hero-radius);
}
/*Remove Grab Icon*/
.slideshow-gutter {
  cursor: unset!important;
}
/*Main Slideshow Buttons*/
.user-items-list-banner-slideshow .user-items-list-banner-slideshow__arrow-button {
  border-radius: 0px!important;
  display: flex;
  align-items: center;
  width: 25vw!important;
  height: 100%!important;
  cursor: unset!important;
}
.user-items-list-banner-slideshow .user-items-list-banner-slideshow__arrow-button:focus {
  outline: none!important;
}
/*LEFT Hover Arrow*/
.desktop-arrows.arrow-container.arrow-container--left {
  border-radius: 0px!important;
  left: 0!important;
}
@media screen and (min-width: 767px) {
  .desktop-arrows.arrow-container.arrow-container--left {
    cursor: url('https://raw.githubusercontent.com/StudioMesa/template-assets/main/left.svg'), w-resize !important;
  }
}
.desktop-arrows.arrow-container.arrow-container--left:focus {
  border-radius: 0px!important;
  outline: none!important;
}
/*RIGHT Hover Arrow*/
.desktop-arrows.arrow-container.arrow-container--right {
  border-radius: 0px!important;
  right: 0!important;
}
@media screen and (min-width: 767px) {
  .desktop-arrows.arrow-container.arrow-container--right {
    cursor: url('https://raw.githubusercontent.com/StudioMesa/template-assets/main/right.svg'), e-resize;
  }
}
.desktop-arrows.arrow-container.arrow-container--right:focus {
  outline: none!important;
}
/*Remove Standard Arrow Buttons*/
@media screen and (min-width: 767px) {
  .user-items-list-banner-slideshow .user-items-list-banner-slideshow__arrow-icon {
    display: none!important;
  }
}
.user-items-list-banner-slideshow .user-items-list-banner-slideshow__arrow-icon:focus {
  outline: none!important;
}
/*Remove Background Color*/
.user-items-list-banner-slideshow__arrow-icon-background {
  background: unset!important;
}
.user-items-list-banner-slideshow__arrow-icon-background:focus {
  outline: none!important;
}
/*Project Link Container*/
.list-item-content__button-container {
  justify-content: center;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  bottom: -2vw !important;
  margin-top: 0!important;
}
/*Project Link Button*/
.list-item-content__button.sqs-block-button-element.sqs-block-button-element--medium.sqs-button-element--primary {
  color: transparent!important;
  border-radius: 0!important;
  position: relative;
  width: 50vw!important;
  height: 100%!important;
  z-index: 2;
  display: flex;
  padding: 0px!important;
  border: none!important;
}
@media screen and (min-width: 767px) {
  .list-item-content__button.sqs-block-button-element.sqs-block-button-element--medium.sqs-button-element--primary {
    cursor: url('https://raw.githubusercontent.com/StudioMesa/template-assets/main/down.svg'), pointer !important;
  }
}
/*Project Link Hover*/
.list-item-content__button.sqs-block-button-element.sqs-block-button-element--medium.sqs-button-element--primary:hover {
  background: none!important;
}
@media screen and (min-width: 767px) {
  .list-item-content__button.sqs-block-button-element.sqs-block-button-element--medium.sqs-button-element--primary:hover {
    cursor: url('https://raw.githubusercontent.com/StudioMesa/template-assets/main/down.svg'), pointer !important;
  }
}
.list-item-content__button.sqs-block-button-element.sqs-block-button-element--medium.sqs-button-element--primary:after {
  display: none!important;
}
/*Mobile Arrows*/
.user-items-list-banner-slideshow .mobile-arrows {
  justify-content: space-between;
  height: 50%;
}
/*Remove Title Margin*/
@media screen and (max-width: 767px) {
  .list-item-card-background {
    margin: 20px 0px!important;
  }
  .list-item-card-background h2,
  .list-item-card-background p {
    margin: 10px 30px!important;
  }
  /*Height of Slideshow*/
  .slides.slides--initialized {
    min-height: 40vh!important;
  }
}
/*Adjust section padding*/
section[data-current-context*='"typeName": "blog-basic-grid"'].collection-type-blog-basic-grid .content {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  padding-top: var(--sqs-site-gutter);
  padding-bottom: var(--sqs-site-gutter);
  padding-left: var(--sqs-site-gutter);
  padding-right: var(--sqs-site-gutter);
}
@media screen and (max-width: 767px) {
  section[data-current-context*='"typeName": "blog-basic-grid"'].collection-type-blog-basic-grid .content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 500px) {
  section[data-current-context*='"typeName": "blog-basic-grid"'].collection-type-blog-basic-grid .content {
    padding-left: var(--sqs-mobile-site-gutter);
    padding-right: var(--sqs-mobile-site-gutter);
  }
}
@media screen and (max-width: 767px) {
  .blog-basic-grid.collection-content-wrapper {
    display: flex!important;
    flex-direction: column!important;
    gap: var(--sqs-mobile-site-gutter) !important;
  }
}
/*2 Columns for Tablet*/
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .blog-basic-grid {
    grid-template-columns: 1fr 1fr!important;
  }
}
/*Blog Grid Element*/
.blog-basic-grid {
  margin-top: 0!important;
  padding-top: 0!important;
  padding-bottom: 100px!important;
  padding: 0!important;
  margin: unset!important;
  /*Blog Title*/
  /*Link Out Arrow*/
  /*Primary Meta*/
  /*Meta Section*/
  /*Categories List*/
  /*Excerpt*/
  /*Blog Date*/
  /*Delimiter*/
  /*Grid Item*/
  /*Hidden Class*/
  /*Grid Pagination*/
  /*Pagination Text*/
}
@media screen and (max-width: 767px) {
  .blog-basic-grid .blog-title {
    font-size: 22px!important;
    letter-spacing: -0.015em !important;
  }
}
.blog-basic-grid .passthrough-link:hover:after {
  margin-left: 5px;
}
.blog-basic-grid .passthrough-link:after {
  transition: var(--trans) !important;
  font-family: var(--inter), var(--body), sans-serif !important;
}
.blog-basic-grid .blog-categories {
  pointer-events: none!important;
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  border-radius: 50px!important;
  background: var(--light);
  color: var(--dark) !important;
  border: none;
  padding: 8px;
  text-transform: uppercase!important;
  letter-spacing: 0.07em !important;
  font-size: 10px!important;
  font-weight: 500!important;
  transition: var(--trans);
}
.blog-basic-grid .blog-meta-section {
  align-items: center!important;
}
.blog-basic-grid .blog-meta-primary .blog-categories-list {
  display: flex!important;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.blog-basic-grid .blog-excerpt p {
  font-weight: 400!important;
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  line-height: 1.5 !important;
  font-size: 13px!important;
  letter-spacing: 0.01em !important;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-basic-grid .blog-date {
  font-family: var(--body), var(--inter), sans-serif !important;
  font-feature-settings: var(--inter-features);
  letter-spacing: 0.01em !important;
  font-weight: 400;
  color: var(--dark);
  font-size: 12px!important;
}
.blog-basic-grid .blog-category-delimiter {
  padding: 0px 2px 0px 2px;
}
.blog-basic-grid .blog-basic-grid--container {
  overflow: hidden !important;
  display: block;
}
.blog-basic-grid .blog-basic-grid--container.hidden {
  display: none !important;
}
.blog-basic-grid #filter-select-wrap .filter-select {
  display: none;
}
.blog-basic-grid #filter-select-wrap.open .filter-select {
  display: block;
}
.blog-basic-grid .blog-list-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content !important;
}
.blog-basic-grid .blog-list-pagination .newer,
.blog-basic-grid .blog-list-pagination .older {
  flex: unset!important;
}
/*Arrow Links Display Footer*/
#footer-sections .sqs-block-html a {
  display: unset;
}
/*Content Align Bottom: Card*/
section.vertical-alignment--bottom {
  z-index: 100!important;
}
section.vertical-alignment--bottom .content-wrapper {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-top: calc(25.8px*-2) !important;
  margin-bottom: calc(25.8px*-2) !important;
  border-radius: 30px;
  margin: 0 auto;
  max-width: var(--sqs-site-max-width);
}
/*Inset Sections Mobile + Tab*/
.tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic,
.tweak-products-width-inset .products.collection-content-wrapper,
.tweak-events-stacked-height-medium .events,
.course-list {
  padding-left: 0!important;
  padding-right: 0!important;
  margin: 0 auto!important;
}
/*Inset Sections Mobile + Tab*/
@media screen and (max-width: 1240px) {
  .tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic,
  .tweak-products-width-inset .products.collection-content-wrapper,
  .tweak-events-stacked-height-medium .events,
  .course-list {
    padding-left: var(--sqs-site-gutter) !important;
    padding-right: var(--sqs-site-gutter) !important;
    margin: var(--sqs-site-gutter) auto !important;
  }
}
/*Inset Sections Mobile + Tab*/
@media screen and (max-width: 767px) {
  .tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic,
  .tweak-products-width-inset .products.collection-content-wrapper,
  .tweak-events-stacked-height-medium .events,
  .course-list {
    padding-left: var(--sqs-mobile-site-gutter) !important;
    padding-right: var(--sqs-mobile-site-gutter) !important;
    margin: var(--sqs-mobile-site-gutter) auto !important;
  }
}
/*Full Screen ("1" Custom Fill + Vertical Alignment)*/
@media screen and (min-width: 767px) {
  section[data-current-styles*='"customSectionHeight": 1'].vertical-alignment--top {
    min-height: 100vh!important;
    max-height: 100vh!important;
    overflow: hidden!important;
  }
  section[data-current-styles*='"customSectionHeight": 1'].vertical-alignment--top .image-block {
    min-height: 100vh!important;
    max-height: 100vh!important;
  }
}
section[data-current-styles*='"customSectionHeight": 1'].vertical-alignment--top .content-wrapper {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
